**/build/**
!FCFM/build/Debug/
!FCFM/build/Debug/*.hex
!FCFM/build/Debug/*.bin
!ground-station/build/Debug/
!ground-station/build/Debug/*.hex
!ground-station/build/Debug/*.bin
**/mx.scratch/
.vscode/
*.elf
*.map
*.log
Thumbs.db
.DS_Store
